<div class='title'>
  {{title}}
</div>

<div class='todos'>
  <div [style.background-color]="todo.complete ? 'lightgreen' : 'white'" *ngFor='let todo of todos; index as i'>
    <button class='complete' (click)='completeTodo(i)'>Completed</button>
    {{todo.task}}
    <input placeholder='update' [(ngModel)]='todo.update'/>
    <button (click)='update(i, todo.update)'>update</button>
    <button class='delete' (click)='deleteTodo(i)'>X</button>
  </div>
</div>

<div class='form'>
  <input [(ngModel)]='todo'/>
  <button (click)='addTodo()'>Add ToDo</button>
</div>